<div class="center hero-unit">
  <h1>Textspansion</h1>
  <%= link_to "Login", login_path, :class => "btn btn-larger" %>
  <%= link_to "Sign Up", signup_path, :class => "btn btn-larger btn-primary" %>
</div>
<div>
  <p>Textspansion keeps on getting better :)</p>
</div>